<main class="feed">

  {{#each model as |index| }}
    {{timeline-post-item}}
  {{/each}}

</main>
<footer class="footer">
  <nav class="footer__nav">


  </nav>
  <span class="footer__copyright">© 2019 instaclone</span>
</footer>